#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:3px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    width:36%;
    float:left;
    padding:3px; 
}

#barraLaterale {
    background-color:#eeeeee;
    width:20%;
    float:left;
    padding:3px; 
}

#calendar {
    width: 76%;
    float: left;
    padding: 3px;
}

#section {
    width:60%;
    float:left;
    padding:10px; 
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:3px; 
}